//***** Variables *****//

// Responsive
$breakpoint--small:   480px  !default;
$breakpoint--medium:  640px  !default;
$breakpoint--large:   960px  !default;
$breakpoint--x-large: 1280px !default;

// Main width & height
$container-width: 1240px !default;

// Colors

// Transitions

// Font Families